body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.strong {
  font-weight: bold;
  color: #46b8da;
  text-shadow: 1px 1px #ccc;
  margin: 0 0 5px 0;
}

.tweet img {
  border-radius: 4px;
  float:left;
}

.tweet {
  display:inline-block;
  background: #F4F5F5;
  border: 1px solid #ddd;
  border-radius:8px;
  padding: 10px;
  margin: 10px;
}

.info {
  float:left;
  margin: 0 20px;
}
